<% content_for :page_title do %>
  Jax Guides
<% end %>

<% content_for :header_section do %>
  <h2>Jax Guides</h2>
  
  <p>
    These guides are designed to make you immediately productive with Jax,
    and to help you understand how all of the pieces fit together.
  </p>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dd class="work-in-progress">Guides marked with this icon are currently being worked on. While they might still be useful to you, they may contain incomplete information and even errors. You can help by reviewing them and posting your comments and corrections to the author.</dd>
  </dl>
</div>
<% end %>

<h3>Start Here</h3>

<dl>
<%= guide('Getting Started with Jax', 'getting_started.html', :work_in_progress => false) do %>
  <p>Everything you need to know to install Jax and create your first application.</p>
<% end %>
</dl>

<h3>Digging Deeper</h3>

<dl>

<%= guide("Materials", 'materials.html', :work_in_progress => true) do %>
  <p>This guide demonstrates how to create, use and dynamically alter Materials in Jax.</p>
<% end %>

<%= guide("Lighting", 'lighting.html', :work_in_progress => true) do %>
  <p>This guide shows how to make the most of lighting support in Jax, and outlines potential caveats. It will also discuss how to prevent certain objects from being lit at all, and in what circumstances you'd want to do this.</p>
<% end %>

<%= guide("Custom Shaders", 'shaders.html', :work_in_progress => true) do %>
  <p>This guide shows how to add and use your own shaders to add advanced custom visual effects.</p>
<% end %>

<%= guide("Matrices", "matrices.html", :work_in_progress => true) do%>
  <p>This guide explains all of the various matrices and "spaces", and how they relate to one another. It will help you understand the difference between world space, camera space and object space; and how a 3D object goes from a set of vertices in object space to a translated, rotated and scaled image on your computer screen.</p>
<% end %>

<%= guide("Testing Jax Applications", 'testing.html', :work_in_progress => true) do %>
  <p>This is a comprehensive guide to testing a Jax application. It covers everything from &quot;What is a test?&quot; to the testing APIs.</p>
<% end %>

</dl>

<h3>API Documentation</h3>

<dl>
  <%=guide("Jax JavaScript API Docs", "api/js/index.html") do%>
  <%end%>
</dl>
